{% extends app.user.id is defined ? "@WebWeb/layoutPage.html.twig" : "@WebWeb/layoutPageOut.html.twig" %}
{% block CSS %}
    {{ parent() }}
    {% stylesheets
    '@WebWebBundle/Resources/public/css/default/faq.scss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block JAVASCRIPT %}
    {{ parent() }}
    {% javascripts '@WebWebBundle/Resources/public/js/default/Faq.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block CONTENT %}
    {# Permet de savoir si la personne est loguée #}
    {% set isLogged = app.user.id is defined ? true : false %}
    <div id="div_RBZ_content">
            {# Block de gauche menu #}
            <div id="div_RBZ_faqMenu">
                <ul>
                    <li><a href="{{ isLogged ? "#div_RBZ_inscription" : "#" }}">{{ "web.web.default.faq.menu.inscription" | trans }}</a></li>
                    <li><a href="{{ isLogged ? "#div_RBZ_contact" : "#block5" }}">{{ "web.web.default.faq.menu.contacts" | trans }}</a></li>
                    <li><a href="{{ isLogged ? "#div_RBZ_recommendation" : "#block12" }}">{{ "web.web.contact.index.recommendation.title" | trans }}</a></li>
                    <li><a href="{{ isLogged ? "#div_RBZ_piggyBank" : "#block18" }}">{{ "layout.myKitty" | trans }}</a></li>
                    <li><a href="{{ "#div_RBZ_account" }}">{{ "web.web.default.faq.menu.account" | trans }}</a></li>
                </ul>
            </div>
            {# Block de droite FAQ #}
            <div id="div_RBZ_faqRight" class="{{ isLogged ? "RBZ_logged" : "" }}">
                <div id="div_RBZ_faqRightImg">
                    <img src="{{ asset('/bundles/webweb/images/default/faq/faq.png') }}">
                </div>
                <h1>{{ "rubizzMenu_faq" | trans }} Rubizz</h1>

                {# Rubrique inscription #}
                <div class="RBZ_faqPicture" id="div_RBZ_inscription">
                    <img src="{{ asset('/bundles/webweb/images/default/faq/guy.png') }}"> <span>{{ ("web.web.default.faq.menu.inscription") | trans }}</span>
                </div>
                {% for number in 1..6 %}
                    <div id="{{ ("block" ~  number) }}" class="RBZ_faqQuestion">
                        <h6>{{ ("web.web.default.faq.question." ~ number) | trans  | raw }} </h6> &nbsp; <span class="RBZ_faq_down">&nbsp; &#709;</span>
                        <div class="RBZ_faqQuestionInside">
                            <p>{{ ("web.web.default.faq.question.inside." ~  number) | trans  | raw }}</p>
                        </div>
                    </div>
                {% endfor %}
                {# Rubrique mes contacts #}
                <div class="RBZ_faqPicture" id="div_RBZ_contact">
                    <img src="{{ asset('/bundles/webweb/images/default/faq/girl.png') }}"> <span>{{ ("web.web.default.faq.menu.contacts") | trans }}</span>
                </div>
                {% for number in 7..12 %}
                    <div id="{{ ("block" ~  number) }}" class="RBZ_faqQuestion">
                        <h6>{{ ("web.web.default.faq.question." ~ number) | trans  | raw }}</h6> &nbsp; <span class="RBZ_faq_down">&nbsp; &#709;</span>
                        <div class="RBZ_faqQuestionInside">
                            <p>{{ ("web.web.default.faq.question.inside." ~  number) | trans  | raw }}</p>
                        </div>
                    </div>
                {% endfor %}
                {# Rubrique mes recommandations #}
                <div class="RBZ_faqPicture" id="div_RBZ_recommendation">
                    <img src="{{ asset('/bundles/webweb/images/default/faq/girl2.png') }}"> <span>{{ ("rubizzMenu_recommendations") | trans }}</span>
                </div>
                {% for number in 13..18 %}
                    <div id="{{ ("block" ~  number) }}" class="RBZ_faqQuestion">
                        <h6>{{ ("web.web.default.faq.question." ~ number) | trans  | raw }}</h6> &nbsp; <span class="RBZ_faq_down">&nbsp; &#709;</span>
                        <div class="RBZ_faqQuestionInside">
                            <p>{{ ("web.web.default.faq.question.inside." ~  number) | trans  | raw }}</p>
                        </div>
                    </div>
                {% endfor %}
                {# Rubrique ma cagnotte #}
                <div class="RBZ_faqPicture" id="div_RBZ_piggyBank">
                    <img src="{{ asset('/bundles/webweb/images/default/faq/guy.png') }}"> <span>{{ ("web.web.offer.index.donut.piggyBank") | trans }}</span>
                </div>
                {% for number in 19..24 %}
                    <div id="{{ ("block" ~  number) }}" class="RBZ_faqQuestion">
                        <h6>{{ ("web.web.default.faq.question." ~ number) | trans  | raw }}</h6> &nbsp; <span class="RBZ_faq_down">&nbsp; &#709;</span>
                        <div class="RBZ_faqQuestionInside">
                            <p>{{ ("web.web.default.faq.question.inside." ~  number) | trans  | raw }}</p>
                        </div>
                    </div>
                {% endfor %}

                {# Rubrique mon compte #}
                <div class="RBZ_faqPicture" id="div_RBZ_account">
                    <img src="{{ asset('/bundles/webweb/images/default/faq/girl2.png') }}"> <span>{{ ("web.web.default.faq.menu.account") | trans }}</span>
                </div>
                {% for number in 25..27 %}
                    <div id="{{ ("block" ~  number) }}" class="RBZ_faqQuestion">
                        <h6>{{ ("web.web.default.faq.question." ~ number) | trans | raw }}</h6> &nbsp; <span class="RBZ_faq_down">&nbsp; &#709;</span>
                        <div class="RBZ_faqQuestionInside">
                            <p>{{ ("web.web.default.faq.question.inside." ~  number) | trans  | raw }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}
