<!doctype html>
<!--[if lte IE 7]> <html class="KNS_no-js KNS_ie67 KNS_ie678" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if IE 8]> <html class="KNS_no-js KNS_ie8 KNS_ie678" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if IE 9]> <html class="KNS_no-js KNS_ie9" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if gt IE 9]> <!--><html class="KNS_no-js" lang="{{ app.request.locale }}"> <!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <title>{% block TITLE %}{{ "web.web.layout.headerTitle" | trans }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block CSS %}
        {% stylesheets
        '@WebWebBundle/Resources/public/css/owl-carousel/owl.carousel.css'
        '@WebWebBundle/Resources/public/css/owl-carousel/owl.theme.css'
        '@WebWebBundle/Resources/public/css/default/index/index.scss'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,600,400' rel='stylesheet' type='text/css'>
    {% if app.session.get('debugMode') %}
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
    {% endif %}
</head>
<body class="RBZ_default_{{ app.request.locale }} RBZ_default_{{ app.request.locale | slice(0, 2) }}">
    <header id="header_RBZ_default_header" role="banner" class="">
{% block HEADER %}
	<div class="RBZ_default_head">
		<img class="RBZ_default_img_rubizzRed" src="{{ asset("/bundles/webweb/images/default/index/rubizz_red.png") }}">
		<div class="RBZ_default_loginMenu">
			<span class="RBZ_default_login"><a href="" hrefbis="{{ url("WebWebBundle_securityLogin") }}">{{ "web.web.default.index.login" | trans }}</a></span>
            |
			<span class="RBZ_default_register"><a href="" hrefbis="{{ url("WebWebBundle_securityRegister") }}">{{ "web.web.default.index.register" | trans }}</a></span>
		</div>
	</div>
{% endblock %}
    </header>

    <section id="section_RBZ_default_main" role="main" class="">
{% block CONTENT %}
    {##########}
    {# SLIDER #}
    {##########}
    {% include "@WebWeb/Default/Index/rubslider.html.twig" %}
    <div class="RBZ_default_content">
        <div class="RBZ_default_community">
            <div class="RBZ_default_community_detail">
                <p class="RBZ_default_community_title">{{ "web.web.default.index.community.title" | trans }}</p>
                <p class="RBZ_default_community_content">{{ "web.web.default.index.community.content" | trans }}</p>
                <p class="RBZ_default_community_manage">{{ "web.web.default.index.community.manage" | trans }} ></p>
            </div>
        </div>
        <div class="RBZ_default_mailinglist">
            <div class="RBZ_default_mailinglist_detail">
                <p class="RBZ_default_mailinglist_title">{{ "web.web.default.index.mailinglist.title" | trans }}</p>
                <p class="RBZ_default_mailinglist_content">{{ "web.web.default.index.mailinglist.content" | trans }}</p>
                <p class="RBZ_default_mailinglist_add">{{ "web.web.default.index.mailinglist.add" | trans }} ></p>
            </div>
        </div>
        <div class="RBZ_default_cagnotte">
            <div class="RBZ_default_cagnotte_detail">
                <p class="RBZ_default_cagnotte_title">{{ "web.web.default.index.cagnotte.title" | trans }}</p>
                <p class="RBZ_default_cagnotte_content">{{ "web.web.default.index.cagnotte.content" | trans }}</p>
                <p class="RBZ_default_cagnotte_begin">{{ "web.web.default.index.cagnotte.begin" | trans }} ></p>
            </div>
        </div>
        <div class="RBZ_default_follow">
            <div class="RBZ_default_chrisbale">
                <p class="RBZ_default_followdetail">{{ "web.web.default.index.christbale.detail" | trans }}</p>
                <p class="RBZ_default_followsign">{{ "web.web.default.index.christbale.sign" | trans }}</p>
            </div>
            <div class="RBZ_default_emmawat">
                <p class="RBZ_default_followdetail">{{ "web.web.default.index.emmawats.detail" | trans }}</p>
                <p class="RBZ_default_followsign">{{ "web.web.default.index.emmawats.sign" | trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}
    </section> <!-- section_RBZ_default_main -->

    <!-- popup -->
    <div id="div_RBZ_loginShadow" class="RBZ_{{ app.request.locale }}"></div>
    <div id="div_RBZ_registerShadow" class="RBZ_{{ app.request.locale }}"></div>

    <footer id="footer_RBZ_default_footer" role="contentinfo" class="">
{% block FOOTER %}
    <div class="RBZ_default_footer">
        <div class="RBZ_default_clients"></div>
        <div class="RBZ_default_footer_content">
            <div class="RBZ_default_foot_menu1">
                <p class=""><a href="">{{ "web.web.default.index.footer.about" | trans }}</a></p>
                <p class=""><a href="">{{ "web.web.default.index.footer.faq" | trans }}</a></p>
                <p class=""><a href="">{{ "web.web.default.index.footer.contact" | trans }}</a></p>
                <p class=""><a href="">{{ "web.web.default.index.footer.jobs" | trans }}</a></p>
                <p class=""><a href="">{{ "web.web.default.index.footer.advertisers" | trans }}</a></p>
            </div>
            <div class="RBZ_default_foot_menu2">
                <p class=""><a href="">{{ "web.web.default.index.footer.alloffers" | trans }}</a></p>
                <p class=""><a href="">{{ "web.web.default.index.footer.maillist" | trans }}</a></p>
                <p class=""><a href="">{{ "web.web.default.index.footer.howwork" | trans }}</a></p>
            </div>
            <img class="RBZ_default_foot_rubizzblack" src="{{ asset("/bundles/webweb/images/default/index/rubizz_black.png") }}">
            <div class="RBZ_clear"></div>
            <div class="RBZ_default_fb"><a href="" class="RBZ_default_a100"></a></div>
            <div class="RBZ_default_tw"><a href="" class="RBZ_default_a100"></a></div>
            <div class="RBZ_clear"></div>
            <div class="RBZ_default_foot_menu3">
                <span class="RBZ_default_bynatexo"><a href="">{{ "web.web.default.index.footer.bynatexo" | trans | replace({'%b%' : '<b>', '%eb%' : '</b>'}) | raw }}</a></span>
                <span class="RBZ_default_allrights"><a href="">{{ "web.web.default.index.footer.allrights" | trans }}</a></span>
                <span class="RBZ_default_mentions"><a href="">{{ "web.web.default.index.footer.mentions" | trans }}</a></span>
                <span class="RBZ_default_conditions"><a href="">{{ "web.web.default.index.footer.condition" | trans }}</a></span>
            </div>
        </div>
    </div>
{% endblock %}
    </footer>

{% block JAVASCRIPT %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% if app.session.get('debugMode') %}
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    {% endif %}
    {% javascripts
    '@WebWebBundle/Resources/public/js/owl-carousel/owl.carousel.min.js'
    '@WebWebBundle/Resources/public/js/global/Global.js'
    '@WebWebBundle/Resources/public/js/default/Index.js'
    '@WebWebBundle/Resources/public/js/default/Default.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            goGlobal.ready();
            goDefault.ready("{{ url('WebWebBundle_offerIndex') }}");
            // ==== RBZ Slider ====
            goIndex.rubSlider();
        });
    </script>
{% endblock %}
</body>
</html>
