{% extends "@WebWeb/layoutPage.html.twig" %}

{% block CONTENT %}
    <div id="div_RBZ_userMenu">
        <div class="RBZ_wrapper">
            {{ menu('publisherUser') }}
        </div>
    </div>

    {# Graphiques des stats #}
    <div id="div_RBZ_cashIn">
        <h1>{{ "web.web.user.cashIn.cash.title" | trans }}</h1>
        <div id="div_RBZ_CashFirstSection">{{ "web.web.user.cashIn.cash.firstSection" | trans }}</div>
        <div id="div_RBZ_CashSecondSection">{{ "web.web.user.cashIn.cash.SecondSection" | trans }}</div>
    </div>
    {# Historique #}
    <div id="div_RBZ_cashInHistory">
        <div>{{ "web.web.user.cashIn.history.title" | trans }}</div>
    </div>
{% endblock %}