{% extends "@WebWeb/layoutPage.html.twig" %}
{% block CSS %}
    {{ parent() }}
    {% stylesheets
    '@WebWebBundle/Resources/public/css/user/cashIn.scss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}
{% block MENU_USER %}
    <div id="div_RBZ_userMenu">
        <div class="RBZ_wrapper">
            {{ menu('rubizzUser') }}
        </div>
    </div>
{% endblock %}
{% block CONTENT %}
    <h1>{{ "web.web.user.cashIn.cash.title" | trans }}</h1>

    {# cagnotte #}
    <div id="div_RBZ_cashIn">
        <div id="div_RBZ_CashFirstSection">{{ "web.web.user.cashIn.cash.firstSection" | trans }}</div>
        <div id="div_RBZ_CashSecondSection">&#9888; {{ "web.web.user.cashIn.cash.SecondSection" | trans |replace({'%rib%': url("WebWebBundle_userRib"), '%ici%': url("WebWebBundle_userDetails")}) |raw }}</div>
        <div id="div_RBZ_CashThirdSection">
            <div>{{ "web.web.offer.index.donut.piggyBank" | trans }}</div>
            <div class="RBZ_piggyBank">{{ user.availableAmount }}€</div>
            <div class="RBZ_piggyBankText">
                <a class="RBZ_redButton" href="#">{{ "web.web.user.cashIn.cash.info" | trans | upper }} &rsaquo; </a>
            </div>
        </div>

    </div>

    <h3>{{ "web.web.user.cashIn.history.title" | trans }}</h3>
    {# Historique #}
    <div id="div_RBZ_cashInHistory">
        <div class="KNS_row KNS_mbl">
            <div class="KNS_mod">
                <table class="RBZ_table">
                    <tr>
                        <th>{{ "web.web.user.cashIn.tabHistory.date" | trans }}</th>
                        <th>{{ "web.web.user.cashIn.tabHistory.desc" | trans }}</th>
                        <th>{{ "web.web.user.cashIn.tabHistory.amount" | trans }}</th>
                        <th>{{ "web.web.user.cashIn.tabHistory.statut" | trans }}</th>
                    </tr>
                    <tr>
                        {# inclusion des historiques #}
                        {% for invoiceRequest  in invoiceRequests %}
                            <td>{{ invoiceRequest.dateCreate | date("d/m/Y H:m:s") }}</td>
                            <td></td>
                            <td>{{ invoiceRequest.amount }} €</td>
                            <td class="{{ (invoiceRequest.status == 'confirmed') ? 'RBZ_blue' : 'RBZ_red' }}">{{ invoiceRequest.status }} </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}
