{% extends "@WebWeb/layoutPage.html.twig" %}

{% block CSS %}
    {{ parent() }}
    {% stylesheets
    '@WebWebBundle/Resources/public/css/user/details.scss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}
{% block CONTENT %}
    <div id="div_RBZ_userMenu">
        <div class="RBZ_wrapper">
            {{ menu('rubizzUser') }}
        </div>
    </div>
    <form action="" method="post" {{ form_enctype(form) }} autocomplete="off">

        {% if errors != '' %}
            <p class="RBZ_error">{{ errors}}</p>
        {% endif %}
        
        {% if  success == true %}
            <p class="RBZ_ok">{{ 'web.web.form.ok' | trans }}</p>
        {% endif %}


        <h1>{{ 'web.web.user.details.title' | trans }}</h1>
        <div id="div_RBZ_userDetails">
            <div id="div_RBZ_userDetailsInfo">
                <div id="div_RBZ_userPersonal">
                    <h3>1.{{ 'web.web.user.details.personal.title' | trans }}</h3>
                    <div class="RBZ_input">
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="RBZ_input">
                        {{ form_row(form.firstname) }}
                    </div>
                </div>
                <div id="div_RBZ_userNewsletter">
                    <h3>2.{{ 'web.web.user.details.newsletter.title' | trans }}</h3>
                    {{ form_row(form.optin_newsletter) }}
                </div>

            </div>
            <div id="div_RBZ_userDetailsConnection">

                <div id="div_RBZ_userConnection">
                    <h3>3.{{ 'web.web.user.details.connection.title' | trans }}</h3>
                    <div class="RBZ_input">{{ form_row(form.email) }}</div>
                    <div class="RBZ_input">{{ form_row(form.oldPassword) }}</div>
                    <div class="RBZ_input">{{ form_row(form.password) }}</div>
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="KNS_clear"></div>
            <hr />
            <div id="RBZ_user_detailsSubmit">
                <input type="submit" value="{{ 'web.web.user.details.submit' | trans }} &rsaquo;" class="RBZ_redButton"/>
            </div>
        </div>

    </form>
{% endblock %}
