{% extends "@WebWeb/layoutPage.html.twig" %}
{% import "@WebWeb/macros.html.twig" as macro %}
{% block CSS %}
    {{ parent() }}
    {% stylesheets
    '@WebWebBundle/Resources/public/css/user/pot.scss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}
{% block JAVASCRIPT %}
    {{     parent() }}
    {%     javascripts '@WebWebBundle/Resources/public/js/user/Pot.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {%     endjavascripts %}
{% endblock %}
{% block CONTENT %}
    <div id="div_RBZ_userMenu">
        <div class="RBZ_wrapper">
            {{ menu('rubizzUser') }}
        </div>
    </div>
    <div class="RBZ_wrapper">
        <div class="RBZ_user_pot">
            <div class="RBZ_user_pot_title">
                <div class="KNS_row KNS_mbl">
                    <div class="KNS_mod KNS_start KNS_w40">
                        <h1>{{ 'web.web.user.pot.title' | trans }}</h1>
                    </div>
                </div>
            </div>

        </div>

        <div class="RBZ_info">
            {{ 'web.web.user.pot.info' | trans }}
        </div>

    </div>
    <table id="table_RBZ_pot" class="RBZ_table">
        <tr>
            <th>{{ 'web.web.user.pot.date' | trans }}</th>
            <th>{{ 'web.web.user.pot.operation_name' | trans }}</th>
            <th>{{ 'web.web.user.pot.debit' | trans }}</th>
            <th>{{ 'web.web.user.pot.credit' | trans }}</th>
            <th>{{ 'web.web.user.pot.solde' | trans }}</th>
        </tr>

        {% for movement  in movements %}
            <tr>   
                <td>{{ movement.dateMovement | date("d.m.Y") }}</td>
                <td>{{ movement.movementName}}</td>
                {%   if movement.movementName == 'Paeiments recus' %}
                    <td><a class="RBZ_user_pot_mtd" href="#" hrefbis="{{ url("WebWebBundle_userPot",{"piType": 'debit', "piUser": movement.user.id }) }}">{{ movement.amountMovement }} €</a></td>
                    <td><a class="RBZ_user_pot_mtc" href="#" hrefbis="{{ url("WebWebBundle_userPot",{"piType": 'credit', "piUser": movement.user.id}) }}"></a></td>
                    <td class="RBZ_user_pot_sold{{'debit'}}">- {{ movement.amountMovement }} €</td>    
                {% else %}
                    <td><a class="RBZ_user_pot_mtd" href="#" hrefbis="{{ url("WebWebBundle_userPot",{"piType": 'debit', "piUser": movement.user.id }) }}"></a></td>
                    <td><a class="RBZ_user_pot_mtc" href="#" hrefbis="{{ url("WebWebBundle_userPot",{"piType": 'credit', "piUser": movement.user.id}) }}">{{ movement.amountMovement }} €</a></td>
                    <td class="RBZ_user_pot_sold{{'credit'}}">+ {{ movement.amountMovement }} €</td>
                {%endif %}

            </tr>
        {% endfor %}
    </table>
    {{ macro.pagination(movements) }}


{% endblock %}
