{% extends "@WebWeb/layoutPage.html.twig" %}
{% import "@WebWeb/macros.html.twig" as macro %}
{% block CSS %}
    {{ parent() }}
    {% stylesheets
    '@WebWebBundle/Resources/public/css/user/pot.scss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}
{% block JAVASCRIPT %}
    {{     parent() }}
    {%     javascripts '@WebWebBundle/Resources/public/js/user/Pot.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {%     endjavascripts %}
{% endblock %}
{% block MENU_USER %}
    <div id="div_RBZ_userMenu">
        <div class="RBZ_wrapper">
            {{ menu('rubizzUser') }}
        </div>
    </div>
{% endblock %}
{% block CONTENT %}
    <h1>{{ 'web.web.user.pot.title' | trans }}</h1>
    <p class="KNS_mbm">
        {{ 'web.web.user.pot.info' | trans | raw }}
    </p>

    <table id="table_RBZ_pot" class="RBZ_table">
        <tr>
            <th>{{ 'web.web.user.pot.date' | trans }}</th>
            <th>{{ 'web.web.user.pot.operation_name' | trans }}</th>
            <th>{{ 'web.web.user.pot.debit' | trans }}</th>
            <th>{{ 'web.web.user.pot.credit' | trans }}</th>
            <th>{{ 'web.web.user.pot.solde' | trans }}</th>
        </tr>
        {% for movement  in movements %}
            <tr>
                <td>{{ movement.dateMovement | date("d.m.Y") }}</td>

                {%   if movement.movementType == 'payment' %}
                    <td>{{ 'web.web.user.pot.movement.name.payment' | trans }}</td>
                    <td><a class="RBZ_user_pot_mtd" href="#" hrefbis="{{ url("WebWebBundle_userPot",{"piType": 'debit', "piDate": movement.dateMovement | date("m.Y")}) }}">{{ movement.amountMovement }} €</a></td>
                    <td><a class="RBZ_user_pot_mtc" href="#"></a></td>
                    <td class="RBZ_user_pot_sold{{'debit'}}">- {{ movement.amountMovement }} €</td>
                {% else %}
                    <td>{{ 'web.web.user.pot.movement.name.commission' | trans }}</td>
                    <td><a class="RBZ_user_pot_mtd" href="#"></a></td>
                    <td><a class="RBZ_user_pot_mtc" href="#" hrefbis="{{ url("WebWebBundle_userPot",{"piType": 'credit', "piDate": movement.dateMovement | date("m.Y")}) }}">{{ movement.amountMovement }} €</a></td>
                    <td class="RBZ_user_pot_sold{{'credit'}}">+ {{ movement.amountMovement }} €</td>
                {%endif %}

            </tr>
        {% endfor %}
    </table>
    {{ macro.pagination(movements) }}


{% endblock %}
