{% extends "@WebWeb/layoutPage.html.twig" %}
{% block CSS %}
    {{ parent() }}
    {% stylesheets
    '@WebWebBundle/Resources/public/css/user/rib.scss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}
{% block MENU_USER %}
    <div id="div_RBZ_userMenu">
        <div class="RBZ_wrapper">
            {{ menu('rubizzUser') }}
        </div>
    </div>
{% endblock %}
{% block CONTENT %}
    <form action="{{ url('WebWebBundle_userRib') }}" method="post" {{ form_enctype(form) }} autocomplete="off">
{%     if error is defined %}
    <p class="RBZ_error">{{ error }}</p>
{%     endif %}
    <h1>{{ 'web.web.user.bic.titre1' | trans }}</h1>
    <h3>{{ 'web.web.user.bic.titre2' | trans }}</h3>

    <div id="div_RBZ_userBic">
        {{ form_widget(form.bic) }}
    </div>

    <div id="div_RBZ_userBorder"></div>

    <div id="div_RBZ_userFooter">
        <input type="submit" value="{{ 'web.web.user.details.submit' | trans }} &nbsp; &rsaquo;" class="RBZ_redButton"/>
    </div>

    {{ form_rest(form) }}
    </form>
{% endblock %}
