{% extends "@WebWeb/layoutPage.html.twig" %}
{% block CSS %}
    {{ parent() }}
    {%     stylesheets
    'https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.12.0/codemirror.min.css'
    'https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.12.0/theme/3024-night.min.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    <style>
        .CodeMirror {
            height: 100px;
        }
    </style>
    {%     endstylesheets %}
{% endblock %}
{% block CONTENT %}
    <div id="div_RBZ_userMenu">
        <div class="RBZ_wrapper">
            {{ menu('publisherUser') }}
        </div>
    </div>
            <form action="{{ url('WebWebBundle_userRib') }}" method="post" {{ form_enctype(form) }} autocomplete="off">
                
                {% if error is defined %}
                    <p class="RBZ_error">{{ error }}</p>
                {% endif %}
                    <div class="NXO_clear"></div>
                    <div class="NXO_grayLabel">{{ "admin.sweepstake.form.iframe.active" | trans }}</div>
                     <div class="KNS_row KNS_mbl">
                        <div class="KNS_mod">
                            {{ form_label(form.bic.bankName) }}
                            {{ form_widget(form.bic.bankName) }}
                        </div>
                     </div>
                    {{ form_label(form.bic.bankCode) }}
                    {{ form_widget(form.bic.bankCode) }}
                    <div class="NXO_clear"></div>
                    {{ form_label(form.bic.agencyCode) }}
                    {{ form_widget(form.bic.agencyCode) }}
                    <div class="NXO_clear"></div>
                    {{ form_label(form.bic.AccountNumber) }}
                    {{ form_widget(form.bic.AccountNumber) }}
                    <div class="NXO_clear"></div>
                    {{ form_label(form.bic.Key) }}
                    {{ form_widget(form.bic.Key) }}
                     <div class="NXO_clear"></div>
                <input type="submit" value="{{ 'web.web.user..submit' | trans }}" class="RBZ_redButton"/>
                {{ form_rest(form) }}
            </form>
            <div class="NXO_clear"></div>
    <div class="RBZ_wrapper">Rib</div>
{% endblock %}
