{% extends "@WebWeb/layoutPage.html.twig" %}

{% block CSS %}
    {{ parent() }}
    {% stylesheets
    '@WebWebBundle/Resources/public/css/user/rib.scss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}
{% block CONTENT %}
    <div id="div_RBZ_userMenu">
        <div class="RBZ_wrapper">
            {{ menu('publisherUser') }}
        </div>
    </div>
    <form action="{{ url('WebWebBundle_userRib') }}" method="post" {{ form_enctype(form) }} autocomplete="off">

        {% if error is defined %}
            <p class="RBZ_error">{{ error }}</p>
        {% endif %}
        <div class="RBZ_user_bic">
            <div class="RBZ_user_bic_header">
                <div class="RBZ_user_bic_header_title">
                    <div class="KNS_row KNS_mbl">
                        <div class="KNS_mod KNS_start KNS_w40">

                            <h1>{{ 'web.web.user.bic.titre1' | trans }}</h1>
                        </div>

                    </div>
                </div>
                <div class="RBZ_user_bic_header_title">
                    <div class="KNS_row KNS_mbl">
                        <div class="KNS_mod KNS_start KNS_w40">
                             <h3>{{ 'web.web.user.bic.titre2' | trans }}</h3>
                        </div>
                    </div>
                </div>
                <div class="RBZ_user_bic_header_input">
                    {{ form_widget(form.bic) }}

                    {{ form_widget(form.bic.bankName) }}
                    {{ form_widget(form.bic.bankCode) }}

                    {{ form_widget(form.bic.agencyCode) }}

                    {{ form_widget(form.bic.AccountNumber) }}

                    {{ form_widget(form.bic.Key) }}

                </div>

                <div class="RBZ_user_bic_header_input_border">
                </div>

            </div>

            <div class="RBZ_user_bic_footer">
                <div class="RBZ_user_bic_footer_input">
                    <input type="submit" value="{{ 'web.web.user.bic.submit' | trans }}" class="RBZ_redButton"/>
                </div>
            </div>

        </div>




        {{ form_rest(form) }}
    </div>
</form>
{% endblock %}
