{% extends "@WebWeb/layout.html.twig" %}

{% block HEADER %}
    <div id="div_RBZ_banner" class="RBZ_wrapper">
        <img id="img_RBZ_headerBeta" src="{{ asset("/bundles/webweb/images/default/index/beta.png") }}" alt="" />
        {% if app.user.id is defined %}
            <a href="{{ url("WebWebBundle_contactIndex") }}">
                <div id="div_RBZ_counterMailingList" class="RBZ_icons_mailinglist">
                        <span class="KNS_tiny-hidden">{{ "layout.mailingList" | trans }}</span><br>
                        <span class="RBZ_number">{{ app.user.nbContacts | number_format(0, ',', ' ') }}</span>
                </div>
            </a>
            <a href="{{ url("WebWebBundle_userPot") }}">
                <div id="div_RBZ_counterGain" class="RBZ_icons_cagnotte">
                    <span class="KNS_tiny-hidden">{{ "layout.myKitty" | trans }}</span><br>
                    <span class="RBZ_number">{{ currency_format(app.user.availableAmount, app.user.country) }}</span>
                </div>
            </a>

            <div id="div_RBZ_desktop_profile_menu">
                <ul id="ul_RBZ_desktop_profile_menu">
                    <li>
                        <span class="RBZ_icons_profile"></span> <a class="RBZ_name">{{ app.user.firstname | capitalize }} {{ app.user.lastname | capitalize }} <span class="RBZ_down">&nbsp; &#709;</span></a>
                        <div class="KNS_clear"></div>
                        {{ menu('rubizzProfile') }}
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
    <div id="div_RBZ_navWrapper">
        <div class="RBZ_wrapper">

            <div id="div_RBZ_desktop_menu">
                {{ menu('rubizzMenu') }}
            </div>

            <a href="#" id="a_RBZ_linkMenuMobile"></a>
            <div id="div_RBZ_menuMobile">
                {{ menu('rubizzMenuMobile') }}
            </div>

            {% if app.user.id is defined %}
                <div id="div_RBZ_mobile_profile_menu">
                    <ul id="ul_RBZ_mobile_profile_menu">
                        <li>
                            <span class="RBZ_icons_profile"></span> <a class="RBZ_name">{{ app.user.firstname | capitalize }} {{ app.user.lastname | capitalize }} <span class="RBZ_down">&nbsp; &#709;</span></a>
                            <div class="KNS_clear"></div>
                            {{ menu('rubizzProfile') }}
                        </li>

                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block FOOTER %}
    <div id="div_RBZ_footerWrapper" class="RBZ_wrapper">
        {{ "footer.credits" | trans | raw }}
        {% if app.user.id is defined %}
            {{ menu('rubizzFooter') }}
        {% else %}
            {{ menu('rubizzFooterLogout') }}
        {% endif %}
    </div>
{% endblock %}
