<div id="div_RBZ_commonPopup" style="{{ block('STYLE') }}">
    <a href="#" id="a_RBZ_commonPopupClose" class="{{ block('CLASS') }}"></a>
    <div id="div_RBZ_commonPopupTitle">
        {{ block('TITLE') }}
    </div>
    <div id="div_RBZ_commonPopupContent">
        {{ block('CONTENT') }}
    </div>
    <div id="div_RBZ_commonPopupSubmit">
        {{ block('SUBMIT') }}
    </div>
</div>