{% extends "@WebWeb/layout.html.twig" %}

{% block HEADER %}
    <div id="div_RBZ_banner" class="RBZ_wrapper">
        {% if is_granted('ROLE_USER') %}
            <div id="div_RBZ_counterMailingList" class="RBZ_icons_mailinglist">
                    <span class="KNS_tiny-hidden">{{ "layout.mailingList" | trans }}</span><br>
                    <span>{{ app.user.nbContacts | number_format(0, ',', ' ') }}</span>
            </div>
            <div id="div_RBZ_counterGain" class="RBZ_icons_cagnotte">
                <span class="KNS_tiny-hidden">{{ "layout.myKitty" | trans }}</span><br>
                <span>{{ app.user.availableAmount | number_format(2, ',', ' ') }}&euro;</span>
            </div>
            {% if is_mobile() == false and is_tablet() == false %}
            <div id="div_RBZ_menuProfile" class="RBZ_icons_profile">
                <ul id="ul_RBZ_menuProfile">
                    <li>
                        <span class="RBZ_icons_profile"></span> <a id="a_RBZ_name">{{ app.user.firstname | capitalize }} {{ app.user.lastname | capitalize }} &nbsp; &rsaquo;</a>
                        {{ menu('rubizzProfile') }}
                    </li>
                </ul>
            </div>
            {% endif %}
        {% endif %}
    </div>
    <div id="div_RBZ_navWrapper">
        <div class="RBZ_wrapper">
            {% if is_mobile() == false and is_tablet() == false %}
                {{ menu('rubizzMenu') }}
            {% else %}
                <a href="#" id="a_RBZ_linkMenuMobile"></a>
                <div id="div_RBZ_menuMobile" class="RBZ_hide">
                    {{ menu('rubizzMenuMobile') }}
                </div>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                {% if is_mobile() %}
                <div id="div_RBZ_menuProfile" class="RBZ_icons_profile">
                    <ul id="ul_RBZ_menuProfile">
                        <li>
                            <span class="RBZ_icons_profile"></span> <a id="a_RBZ_name">{{ app.user.firstname | capitalize }} {{ app.user.lastname | capitalize }} &nbsp; &rsaquo;</a>
                            {{ menu('rubizzProfile') }}
                        </li>
                    </ul>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block FOOTER %}
    <div id="div_RBZ_footerWrapper" class="RBZ_wrapper">
        {{ "footer.credits" | trans | raw }}
        {{ menu('rubizzFooter') }}
    </div>
{% endblock %}
