{#=================================================#}
{# Affichage de la pagination d'un objet Paginator #}
{#=================================================#}
{% macro pagination(poPaginator) %}
    <div id="div_RBZ_pagination">
        <table id="table_RBZ_pagination">
            <tr>
            {% set startPage = poPaginator.page - 2 %}
            {% if startPage <= 0 %}
                {% set startPage = 1 %}
            {% endif %}
            {% set endPage = startPage + 4 %}
            {% if endPage > poPaginator.nbPages %}
                {% set endPage = poPaginator.nbPages %}
            {% endif %}

            {# Si il y a déjà des paramètres dans l'url #}
            {# Il faut échapper 3 fois les metacaractères #}
            {% if poPaginator.url matches '/\\\?/' %}
                {% set sym = '&' %}
            {% else %}
                {% set sym = '?' %}
            {% endif %}

            {% if poPaginator.page > 1 %}
            <td>
                <a id="a_RBZ_paginationPrevious" href="{{poPaginator.url }}{{ sym }}page={{ poPaginator.page - 1}}">&#8592;</a>
            </td>
            {% for index in range(startPage, poPaginator.page - 1) %}
            <td>
                <a href="{{ poPaginator.url }}?page={{ index }}">{{ index }}</a>
            </td>
            {% endfor %}
            {% endif %}
            <td class="RBZ_paginationCurrent"><div>{{ poPaginator.page }}</div></td>
            {% if poPaginator.page < poPaginator.nbpages %}
                {% for index in range(poPaginator.page + 1, endPage) %}
            <td>
                <a href="{{ poPaginator.url }}{{ sym }}page={{ index }}">{{ index }}</a>
            </td>
                {% endfor %}
            <td><a id="a_RBZ_paginationNext" href="{{ poPaginator.url }}{{ sym }}page={{ poPaginator.page + 1 }}">&#8594;</a></td>
            {% endif %}
            </tr>
        </table>
    </div>
    <div class="RBZ_clear"></div>
{% endmacro %}

{#========#}
{# Offres #}
{#========#}
{% macro offer(offer, recommended, type, from) %}
    {% set recommended = recommended | default(false) %}
    {% set type        = type        | default([]) %}
    {% set from        = from        | default('index') %}
    <div class="RBZ_offer_content">
        <img class="RBZ_offer_img RBZ_expandable_body" src="http://img.rubizz.{{ (app.request.locale[3:]) | lower }}/RUBIZZ/OFFERS/IMAGES/{{ offer.id }}.jpg">
        <div class="RBZ_offer_body">
            <p class="RBZ_offer_brand_name">{{ offer.brand.name }}</p>
            <p class="RBZ_offer_title">{{ offer.title }}</p>
            <p class="RBZ_offer_description RBZ_hide">
                {{ offer.text }}
                <br>
                <a class="RBZ_offer_link" href="{{ offer.url }}">{{ 'web.web.offer.macro.see_website' | trans }}</a>
            </p>

            <div class="RBZ_offer_border"></div>
        {% if offer.remType in ['CPC', 'CPL', 'CPA'] %}
            {% set symbol = '€' %}
        {% elseif offer.remType == 'CPA%' %}
            {% set symbol = '%' %}
        {% endif %}
            <div class="RBZ_offer_remuneration">
                <span class="RBZ_offer_remuneration_amount">{{ offer.remMember | number_format(2, ',', ' ') }}&nbsp;{{ symbol }}</span>
                <span class="RBZ_offer_remuneration_description">{{ ('web.web.offer.macro.recommendation_description_' ~ offer.remType) | trans }}</span>
            </div>

        {% if offer.isRecommendable %}
            {% if not recommended or (recommended and ((offer.publishing | length) - (type | length)) > 0) %}
                <div class="RBZ_offer_input">
                {% if 'email' in offer.publishing and 'email' not in type %}
                    <a href="{{ url('WebWebBundle_recommendationRecommendByEmail', {'piOfferId': offer.id, 'psFrom': from }) }}" class="RBZ_offer_link RBZ_email RBZ_hide">{{ 'web.web.offer.macro.mailing' | trans }}</a>
                {% endif %}
                {% if 'facebook' in offer.publishing and 'facebook' not in type %}
                    <a href="{{ url("WebWebBundle_recommendByFacebook", {'piOfferId': offer.id, 'psFrom': from }) }}" class="RBZ_offer_link RBZ_facebook RBZ_hide">{{ 'web.web.offer.macro.facebook_publishing' | trans }}</a>
                {% endif %}
                {% if 'twitter' in offer.publishing and 'twitter' not in type %}
                    <a href="{{ url('WebWebBundle_recommendationRecommendByTwitter', {'piOfferId': offer.id, 'psFrom': from}) }}" class="RBZ_offer_link RBZ_twitter RBZ_hide">{{ 'web.web.offer.macro.twitter_publishing' | trans }} </a>
                {% endif %}
                    <a href="#" class="RBZ_actions">{{ 'web.web.offer.macro.recommend' | trans }}</a>
                    <div class="RBZ_arrow"></div>
                </div>
            {% else %}
                <div class="RBZ_recommended">{{ 'web.web.offer.macro.recommended' | trans }}</div>
            {% endif %}
        {% else %}
            <div class="RBZ_stopped">{{ 'web.web.offer.macro.stopped' | trans }}</div>
        {% endif %}
        </div>
    </div>
{% endmacro %}