<div id="div_RBZ_registerPopup" style="{{ block('STYLE') }}">
    <div id="div_RBZ_content">
        <div id="div_RBZ_logo">
            <img src="{{ asset('/bundles/webweb/images/default/login/login_rubizz_red.png') }}">
            <h3 class="RBZ_linesSided"><span>{{ "web.web.security.baseline" | trans }}</span></h3>
        </div>
        <form action="{{ path('WebWebBundle_securityRegister') }}" method="post" {{ form_enctype(form) }}>
            {% if error is defined %}
                <p class="RBZ_error">{{ error }}</p>
            {% endif %}
            {{ form_label(form.firstname) }}
            <br>
            {{ form_widget(form.firstname, { 'value' : last_firstname }) }}
            <br>
            {{ form_label(form.lastname) }}
            <br>
            {{ form_widget(form.lastname, { 'value' : last_lastname }) }}
            <br>
            {{ form_label(form.email) }}
            <br>
            {{ form_widget(form.email, { 'value' : last_email }) }}
            <br>
            {{ form_label(form.password) }}
            <br>
            {{ form_widget(form.password) }}

            <input type="submit" value="{{ 'web.web.security.submit' | trans }}" />
            {#<a href="{{ url("PublisherWebBundle_securityForgot") }}">{{ "publisher.web.login.forgotPassword" | trans }}</a>#}
            {{ form_rest(form) }}
        </form>
    </div>
</div>