<div class="RBZ_div_slider_contain">
    <div id="div_RBZ_sliderContain" class="owl-carousel">
      <div class="RBZ_div_slider div_RBZ_slide1" id="">
        <img class="RBZ_slide_img" src="{{ asset("/bundles/webweb/images/default/index/slide_1.png") }}" alt="" />
        <img class="RBZ_slide_img_smartphone" src="{{ asset("/bundles/webweb/images/default/index/slide_web_respo.png") }}" alt="" />
        <div class="RBZ_slide_textContain">
          <p class="RBZ_slide_text1">{{ "web.web.default.index.slide1.text1" | trans | replace({'%br%' : '<br>'}) | raw }}</p>
          <p class="RBZ_slide_text2">{{ "web.web.default.index.slide1.text2" | trans | replace({'%br%' : '<br>'}) | raw }}</p>
          <span class="RBZ_default_register"> <a href="" hrefbis="{{ url("WebWebBundle_securityRegister") }}"><p class="RBZ_slide_text3" >{{ "web.web.default.index.slide1.button" | trans }} ></p></a></span>
        </div>
      </div>
      <div class="RBZ_div_slider div_RBZ_slide2" id="">
        <img class="RBZ_slide_img" src="{{ asset("/bundles/webweb/images/default/index/slide_1.png") }}" alt="" />
        <img class="RBZ_slide_img_smartphone" src="{{ asset("/bundles/webweb/images/default/index/slide_web_respo.png") }}" alt="" />
        <div class="RBZ_slide_textContain">
          <p class="RBZ_slide_text1">{{ "web.web.default.index.slide1.text1" | trans | replace({'%br%' : '<br>'}) | raw }}</p>
          <p class="RBZ_slide_text2">{{ "web.web.default.index.slide1.text2" | trans | replace({'%br%' : '<br>'}) | raw }}</p>
          <span class="RBZ_default_register"> <a href="" hrefbis="{{ url("WebWebBundle_securityRegister") }}"><p class="RBZ_slide_text3">{{ "web.web.default.index.slide1.button" | trans }} ></p></a></span>
        </div>
      </div>
      <div class="RBZ_div_slider div_RBZ_slide3" id="">
        <img class="RBZ_slide_img" src="{{ asset("/bundles/webweb/images/default/index/slide_1.png") }}" alt="" />
        <img class="RBZ_slide_img_smartphone" src="{{ asset("/bundles/webweb/images/default/index/slide_web_respo.png") }}" alt="" />
        <div class="RBZ_slide_textContain">
          <p class="RBZ_slide_text1">{{ "web.web.default.index.slide1.text1" | trans | replace({'%br%' : '<br>'}) | raw }}</p>
          <p class="RBZ_slide_text2">{{ "web.web.default.index.slide1.text2" | trans | replace({'%br%' : '<br>'}) | raw }}</p>
          <span class="RBZ_default_register"> <a href="" hrefbis="{{ url("WebWebBundle_securityRegister") }}"><p class="RBZ_slide_text3">{{ "web.web.default.index.slide1.button" | trans }} ></p></a></span>
        </div>
      </div>
      <div class="RBZ_div_slider div_RBZ_slide4" id="">
        <img class="RBZ_slide_img" src="{{ asset("/bundles/webweb/images/default/index/slide_1.png") }}" alt="" />
        <img class="RBZ_slide_img_smartphone" src="{{ asset("/bundles/webweb/images/default/index/slide_web_respo.png") }}" alt="" />
        <div class="RBZ_slide_textContain">
          <p class="RBZ_slide_text1">{{ "web.web.default.index.slide1.text1" | trans | replace({'%br%' : '<br>'}) | raw }}</p>
          <p class="RBZ_slide_text2">{{ "web.web.default.index.slide1.text2" | trans | replace({'%br%' : '<br>'}) | raw }}</p>
          <span class="RBZ_default_register"> <a href="" hrefbis="{{ url("WebWebBundle_securityRegister") }}"><p class="RBZ_slide_text3">{{ "web.web.default.index.slide1.button" | trans }} ></p></a></span>
        </div>
      </div>
    </div>
    <div class="RBZ_clear"></div>
</div>
