<div class="RUB_div_slider_contain">
    <div id="div_RUB_sliderContain" class="owl-carousel">
      <div class="RUB_div_slider div_RUB_slide1" id="">
        <img class="RUB_slide_img" src="{{ asset("/bundles/webweb/images/home/slide_1.png") }}" alt="" />
        <img class="RUB_slide_img_smartphone" src="{{ asset("/bundles/webweb/images/home/slide_web_respo.png") }}" alt="" />
        <div class="RUB_slide_textContain">
          <p class="RUB_slide_text1">{{ "web.web.default.index.slide1.text1" | trans | replace({'%br%' : '<br>'}) | raw }}</p>
          <p class="RUB_slide_text2">{{ "web.web.default.index.slide1.text2" | trans | replace({'%br%' : '<br>'}) | raw }}</p>
          <a href=""><p class="RUB_slide_text3">{{ "web.web.default.index.slide1.button" | trans }} ></p></a>
        </div>
      </div>
      <div class="RUB_div_slider div_RUB_slide2" id="">
        <img class="RUB_slide_img" src="{{ asset("/bundles/webweb/images/home/slide_1.png") }}" alt="" />
        <img class="RUB_slide_img_smartphone" src="{{ asset("/bundles/webweb/images/home/slide_web_respo.png") }}" alt="" />
        <div class="RUB_slide_textContain">
          <p class="RUB_slide_text1">{{ "web.web.default.index.slide1.text1" | trans | replace({'%br%' : '<br>'}) | raw }}</p>
          <p class="RUB_slide_text2">{{ "web.web.default.index.slide1.text2" | trans | replace({'%br%' : '<br>'}) | raw }}</p>
          <a href=""><p class="RUB_slide_text3">{{ "web.web.default.index.slide1.button" | trans }} ></p></a>
        </div>
      </div>
      <div class="RUB_div_slider div_RUB_slide3" id="">
        <img class="RUB_slide_img" src="{{ asset("/bundles/webweb/images/home/slide_1.png") }}" alt="" />
        <img class="RUB_slide_img_smartphone" src="{{ asset("/bundles/webweb/images/home/slide_web_respo.png") }}" alt="" />
        <div class="RUB_slide_textContain">
          <p class="RUB_slide_text1">{{ "web.web.default.index.slide1.text1" | trans | replace({'%br%' : '<br>'}) | raw }}</p>
          <p class="RUB_slide_text2">{{ "web.web.default.index.slide1.text2" | trans | replace({'%br%' : '<br>'}) | raw }}</p>
          <a href=""><p class="RUB_slide_text3">{{ "web.web.default.index.slide1.button" | trans }} ></p></a>
        </div>
      </div>
      <div class="RUB_div_slider div_RUB_slide4" id="">
        <img class="RUB_slide_img" src="{{ asset("/bundles/webweb/images/home/slide_1.png") }}" alt="" />
        <img class="RUB_slide_img_smartphone" src="{{ asset("/bundles/webweb/images/home/slide_web_respo.png") }}" alt="" />
        <div class="RUB_slide_textContain">
          <p class="RUB_slide_text1">{{ "web.web.default.index.slide1.text1" | trans | replace({'%br%' : '<br>'}) | raw }}</p>
          <p class="RUB_slide_text2">{{ "web.web.default.index.slide1.text2" | trans | replace({'%br%' : '<br>'}) | raw }}</p>
          <a href=""><p class="RUB_slide_text3">{{ "web.web.default.index.slide1.button" | trans }} ></p></a>
        </div>
      </div>
    </div>
    <div class="RUB_clear"></div>
</div>
