{% extends "@WebWeb/layoutPage.html.twig" %}

{% block CSS %}
    {{ parent() }}
    {%     stylesheets
    'https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.12.0/codemirror.min.css'
    'https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.12.0/theme/3024-night.min.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    <style>
        .CodeMirror {
            height: 100px;
        }
    </style>
    {%     endstylesheets %}
{% endblock %}

{% block JAVASCRIPT %}
    {{ parent() }}
    {%     javascripts
    'https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.12.0/codemirror.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {%     endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            function addEditor(psSelector, mode) {
                var editor = CodeMirror.fromTextArea($(psSelector).get(0), {
                    lineNumbers: true,
                    readOnly: true,
                    theme: '3024-night'
                });
            }
            addEditor('#h1');
            addEditor('#h2');
            addEditor('#h3');
            addEditor('#h3-fancy');
            addEditor('#form1');
            addEditor('#form2');
            addEditor('#flip');
            addEditor('#buttons');
            addEditor('#table');
        });
    </script>
{% endblock %}

{% block CONTENT %}
    <h1>GRAPHIC STANDARDS</h1>

    <h2 class="KNS_txtcenter">TITRES</h2>
    <div class="KNS_row KNS_mbl">
        <div class="KNS_mod KNS_start KNS_w40">
            <h1>Titre h1</h1>
        </div>
        <div class="KNS_mod KNS_end KNS_w50">
            <textarea name="" id="h1" cols="30" rows="2"><h1>Titre h1</h1></textarea>
        </div>
    </div>

    <div class="KNS_row KNS_mbl">
        <div class="KNS_mod KNS_start KNS_w40">
            <h2>Titre h2</h2>
        </div>
        <div class="KNS_mod KNS_end KNS_w50">
            <textarea name="" id="h2" cols="30" rows="2"><h2>Titre h2</h2></textarea>
        </div>
    </div>

    <div class="KNS_row KNS_mbl">
        <div class="KNS_mod KNS_start KNS_w40">
            <h3>Titre h3</h3>
        </div>
        <div class="KNS_mod KNS_end KNS_w50">
            <textarea name="" id="h3" cols="30" rows="2"><h3>Titre h3</h3></textarea>
        </div>
    </div>

    <div class="KNS_row KNS_mbl">
        <div class="KNS_mod KNS_start KNS_w40">
            <h3 class="RBZ_linesSided"><span>Titre h3 fancy</span></h3>
        </div>
        <div class="KNS_mod KNS_end KNS_w50">
            <textarea name="" id="h3-fancy" cols="30" rows="2"><h3 class="RBZ_linesSided"><span>Titre h3 fancy</span></h3></textarea>
        </div>
    </div>

    <h2 class="KNS_txtcenter">FORMULAIRES</h2>

    <div class="KNS_row KNS_mbl">
        <div class="KNS_mod">
            {{ form_row(form.text1) }}
        </div>
    </div>
    <div class="KNS_row KNS_mbl">
        <div class="KNS_mod">
        <textarea name="" id="form1" cols="30" rows="7">
<?php
$laParams = array(
    'label'         => 'web.web.form.sample_text',
    'required'      => false,
);
$poBuilder->add('text1', 'text', $laParams);

            {{ "graphic.standards.form.text1" | trans | nl2br }}
        </textarea>
        </div>
    </div>

    <div class="KNS_row KNS_mbl">
        <div class="KNS_mod KNS_w40">
            <div class="RBZ_input">
                {{ form_label(form.text2) }}
                {{ form_widget(form.text2) }}
            </div>
            <div class="RBZ_input RBZ_error">
                {{ form_label(form.texterror) }}
                {{ form_widget(form.texterror) }}
            </div>
        </div>
    </div>
    <div class="KNS_row KNS_mbl">
        <div class="KNS_mod">
        <textarea name="" id="form2" cols="30" rows="7">
<?php
$laParams = array(
    'label'         => 'web.web.form.sample_text',
    'required'      => false,
);
$poBuilder->add('text2', 'text', $laParams);

            {{ "graphic.standards.form.text2" | trans | raw | nl2br }}
        </textarea>
        </div>
    </div>

    <div class="KNS_row KNS_mbl">
        <div class="KNS_mod KNS_start KNS_w40">
            {{ form_row(form.flip) }}
        </div>
        <div class="KNS_mod KNS_end KNS_w50">
        <textarea name="" id="flip" cols="30" rows="2">
$laParams = array(
    'label'     => 'web.web.form.sample_text',
    'attr'      => array(
        'checked_label'    => 'web.web.form.flip.yes',
        'unchecked_label'  => 'web.web.form.flip.no',
    ),
    'required' => false,
);
$poBuilder->add('flip', 'flip', $laParams);

            {{ "graphic.standards.form.flip" | trans }}
        </textarea>
        </div>
    </div>

    <h2 class="KNS_txtcenter">BOUTONS</h2>

    <div class="KNS_row KNS_mbl">
        <div class="KNS_mod KNS_start KNS_w40">
            <input type="submit" value="SUBMIT" class="RBZ_redButton"/>
            <br/><br/>
            <a class="RBZ_redButton" href="#">SUBMIT</a>
        </div>
        <div class="KNS_mod KNS_end KNS_w50">
        <textarea name="" id="buttons" cols="30" rows="2">
<input type="submit" value="SUBMIT" class="RBZ_redButton"/>

<a class="RBZ_redButton" href="#">SUBMIT</a>
        </textarea>
        </div>
    </div>

    <h2 class="KNS_txtcenter">TABLEAUX</h2>

    <div class="KNS_row KNS_mbl">
        <div class="KNS_mod">
            <table class="RBZ_table">
                <tr>
                    <th>HEADER1</th>
                    <th>HEADER2</th>
                    <th class="KNS_txtcenter">HEADER3</th>
                    <th>HEADER4</th>
                </tr>
                <tr>
                    <td>texte</td>
                    <td>texte</td>
                    <td class="KNS_txtcenter">texte centré</td>
                    <td>texte</td>
                </tr>
                <tr>
                    <td>texte</td>
                    <td>texte</td>
                    <td class="KNS_txtcenter">texte centré</td>
                    <td class="RBZ_red">texte rouge</td>
                </tr>
                <tr>
                    <td>texte</td>
                    <td>texte</td>
                    <td class="KNS_txtcenter">texte centré</td>
                    <td class="RBZ_blue">texte bleu</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="KNS_row KNS_mbl">
        <div class="KNS_mod">
        <textarea name="" id="table" cols="30" rows="7">
<div class="KNS_row KNS_mbl">
    <div class="KNS_mod">
        <table class="RBZ_table">
            <tr>
                <th>HEADER1</th>
                <th>HEADER2</th>
                <th class="KNS_txtcenter">HEADER3</th>
                <th>HEADER4</th>
            </tr>
            <tr>
                <td>texte</td>
                <td>texte</td>
                <td class="KNS_txtcenter">texte</td>
                <td>texte</td>
            </tr>
            <tr>
                <td>texte</td>
                <td>texte</td>
                <td class="KNS_txtcenter">texte</td>
                <td class="RBZ_red">texte rouge</td>
            </tr>
            <tr>
                <td>texte</td>
                <td>texte</td>
                <td class="KNS_txtcenter">texte</td>
                <td class="RBZ_blue">texte bleu</td>
            </tr>
        </table>
    </div>
</div>
        </textarea>
        </div>
    </div>
{% endblock %}
