{% extends "@WebWeb/layoutPage.html.twig" %}
{% import "@WebWeb/macros.html.twig" as macro %}

{% block CSS %}
    {{ parent() }}
    {% stylesheets
    '@WebWebBundle/Resources/public/css/offer/index.scss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}
{% block JAVASCRIPT %}
    {{     parent() }}
    {%     javascripts '@WebWebBundle/Resources/public/js/chartjs/Chart.js'
                       '@WebWebBundle/Resources/public/js/offer/Index.js'
                       '@WebWebBundle/Resources/public/js/offer/Offer.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {%     endjavascripts %}
    <script>
        $(function() {
           goIndex.ready({{ availableAmount }}, '{{earnings |json_encode|raw}}');
        });
    </script>
{% endblock %}

{% block CONTENT %}

    <h1>{{ "web.web.offer.index.price.title" | trans }}</h1>
    {# Graphiques des stats #}
    <div id="div_RBZ_stats">
        {# bar-line #}
        <div id="div_RBZ_bar">
            <canvas id="canavs_RBZ_line"/>
        </div>
        {# donut #}
        <div id="div_RBZ_donut">
            <canvas id="canavs_RBZ_donut"/></canvas>
            <div id="div_RBZ_donutDetail">
                <div>{{ "web.web.offer.index.donut.piggyBank" | trans }}</div>
                <div class="RBZ_piggyBank"> {{ availableAmount }} €</div>
                <div id="div_RBZ_separator"></div>
                <div class="RBZ_piggyBankText"><a href="{{ url("WebWebBundle_userCashIn") }}">{{ "web.web.offer.index.donut.piggyBankTouch" | trans }}</a></div>
                <a href="{{ url("WebWebBundle_userPot") }}">{{ "web.web.offer.index.donut.detail" | trans }}</a>
            </div>
        </div>
    </div>
    

    <h1>{{ "web.web.offer.index.offer.title" | trans }}</h1>
    <div id="div_RBZ_AllOffers"><a href="{{ url("WebWebBundle_offerList") }}">{{ "web.web.offer.index.offer.seeAll" | trans }}</a></div>
    <div class="KNS_clear"></div>
    {# liste des offres  #}

    <div class="RBZ_offers KNS_grid">
        <div class="KNS_grid2">
            {# inclusion de la macro des offres  #}
            {% for offer in offers %}
            <div>
                {{ macro.offer(offer) }}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
