{% extends "@WebWeb/layoutPage.html.twig" %}
{% import "@WebWeb/macros.html.twig" as macro %}

{% block CSS %}
    {{ parent() }}
    {% stylesheets
    '@WebWebBundle/Resources/public/css/offer/index.scss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}
{% block JAVASCRIPT %}
    {{ parent() }}
    {% javascripts '@WebWebBundle/Resources/public/js/chartjs/Chart.js'
                   '@WebWebBundle/Resources/public/js/offer/Index.js'
                   '@WebWebBundle/Resources/public/js/offer/Offer.js'
    %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function() {
            goIndex.ready({{ availableAmount }}, '{{earnings |json_encode |raw}}', '{{months |json_encode |raw}}');
            goOffer.setEmailConfirmMessage('{{ emailConfirmMessage | raw }}');
        });
    </script>
{% endblock %}

{% block CONTENT %}
    <h1>{{ "web.web.offer.index.price.title" | trans }}</h1>
    {# Graphiques des stats #}
    <div id="div_RBZ_stats">
        {# Bar-line #}
        <div id="div_RBZ_bar">
            <canvas id="canavs_RBZ_line"></canvas>
        </div>
        {# Donut #}
        <div id="div_RBZ_donutShade">
            <div id="div_RBZ_donut">
                <canvas id="canavs_RBZ_donut"/></canvas>
                <div id="div_RBZ_donutDetail">
                    <div>{{ "web.web.offer.index.donut.piggyBank" | trans }}</div>
                    <div class="RBZ_piggyBank"> {{ app.user.availableAmount | number_format(2, ',', ' ') }}<sup>{{ 'web.web.currency' | trans | raw }}</sup></div>
                    <div id="div_RBZ_separator"></div>
                    <div class="RBZ_piggyBankText"><a href="{{ url("WebWebBundle_userCashIn") }}">{{ "web.web.offer.index.donut.piggyBankTouch" | trans }}</a></div>
                    <a id="a_RBZ_donutDetail" href="{{ url("WebWebBundle_userPot") }}">{{ "web.web.offer.index.donut.detail" | trans }}</a>
                </div>
            </div>
        </div>
        <div class="KNS_clear"></div>
    </div>

    {# Liste des offres  #}
    <table id="table_RBZ_title">
    <tr><td>
            <h1>{{ "web.web.offer.index.offer.title" | trans }}</h1>
        </td><td class="KNS_right">
            <div id="div_RBZ_AllOffers"><a href="{{ url("WebWebBundle_offerList") }}">{{ "web.web.offer.index.offer.seeAll" | trans }} &nbsp; &rsaquo;</a></div>
        </td>
    </tr>
    </table>
    <div class="KNS_clear"></div>
    <div class="RBZ_offers">
        {# Inclusion de la macro des offres  #}
        {% for offer in offers %}
        <div class="RBZ_grid {{ cycle(['RBZ_left', 'RBZ_right'], loop.index0) }}">
            {% if offer.id in recommendedOffers | keys %}
                {% set recommended = true %}
                {% set type = recommendedOffers[offer.id] %}
            {% else %}
                {% set recommended = false %}
                {% set type = [] %}
            {% endif %}
            <div class="RBZ_grid_item">
            {{ macro.offer(offer, recommended, type, from) }}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
