{% extends "@WebWeb/layoutPage.html.twig" %}
{% import "@WebWeb/macros.html.twig" as macro %}

{% block CSS %}
    {{ parent() }}
    {% stylesheets
    '@WebWebBundle/Resources/public/css/offer/list.scss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block JAVASCRIPT %}
    {{     parent() }}
    {%     javascripts  '@WebWebBundle/Resources/public/js/offer/Offer.js'  %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {%     endjavascripts %}
{% endblock %}

{% block CONTENT %}

        <h1>{{ "web.web.offer.list.title" | trans }}</h1>
        {# Menu des categories (tag) #}
        <div id="div_RBZ_offerCategory">
            <ul>
                <li><a {{ (categoryActive == '') ? 'id="a_RBZ_ActiveCategory"' }} href="{{ url("WebWebBundle_offerList") }}">{{ "web.web.offer.list.all" | trans }}</a></li>
                {% for category, categoryTrans in categories %}
                    <li><a {{ (category == categoryActive) ? 'id="a_RBZ_ActiveCategory"' }} href="{{ url("WebWebBundle_offerList", {'category': category }) }}">{{ categoryTrans | trans }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {# liste des offres  #}
        <div class="RBZ_offers">
            {# inclusion de la macro des offres  #}
            {% for offer in offers %}
            <div class="RBZ_grid {{ cycle(['RBZ_left', 'RBZ_right'], loop.index0) }}">
                {% if offer.id in recommendedOffers | keys %}
                    {% set recommended = true %}
                    {% set type = recommendedOffers[offer.id] %}
                {% else %}
                    {% set recommended = false %}
                    {% set type = [] %}
                {% endif %}
                <div class="RBZ_grid_item">
                {{ macro.offer(offer, recommended, type, from) }}
                </div>
            </div>
            {% endfor %}
        </div>

{% endblock %}
