{% extends "@WebWeb/layoutPage.html.twig" %}
{% import "@WebWeb/macros.html.twig" as macro %}

{% block CSS %}
    {{ parent() }}
    {% stylesheets
    '@WebWebBundle/Resources/public/css/offer/list.scss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block JAVASCRIPT %}
    {{     parent() }}
    {%     javascripts  '@WebWebBundle/Resources/public/js/offer/Offer.js'  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {%     endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function() {
            goOffer.ready();
        });
    </script>
{% endblock %}

{% block CONTENT %}

        <h1>{{ "web.web.offer.list.title" | trans }}</h1>
        {# Menu des categories (tag) #}
        <div id="div_RBZ_offerCategory">
            <ul>
                <li><a href="">TAG</a></li>
                {% for category in categories %}
                    <li><a href="">{{ category | trans }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {# liste des offres  #}
        <div id="div_RBZ_offers">
            {# inclusion de la macro des offres  #}
            {% for offer in offers %}
                {{ macro.offer(offer) }}
            {% endfor %}
        </div>

{% endblock %}