{% extends "@WebWeb/layoutPage.html.twig" %}
{% import "@WebWeb/macros.html.twig" as macro %}

{% block CSS %}
    {{ parent() }}
    {% stylesheets
    '@WebWebBundle/Resources/public/css/contact/index.scss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}
{% block JAVASCRIPT %}
    {{ parent() }}
    {% javascripts '@WebWebBundle/Resources/public/js/contact/Contact.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script type="text/javascript">
        goContact.ready();
    </script>
    {% endjavascripts %}
{% endblock %}

{% block CONTENT %}
    <table id="table_RBZ_title">
        <tr>
            <td class="RBZ_left"><h1>{{ 'web.web.contact.index.mailing_list.title' | trans }}</h1></td>
            <td><a class="RBZ_redButton RBZ_arrow" href="{{ url('WebWebBundle_contactAdd') }}">{{ 'web.web.contact.index.mailing_list.add_contact' | trans }} &nbsp; &rsaquo;</a></td>
        </tr>
        <tr>
            <td class="RBZ_left RBZ_info">{{ 'web.web.contact.index.mailing_list.info' | trans }}</td>
            <td></td>
        </tr>
        <tr>
            <td class="RBZ_left RBZ_centered">{{ 'web.web.contact.index.mailing_list.you_have' | trans }} <span class="RBZ_active_contacts">{{ (number.subscribed is null) ? '0' : number.subscribed }} {{ 'web.web.contact.index.mailing_list.active_contacts' | trans }}</span> / <span class="RBZ_inactive_contacts"> {{ (number.unsubscribed is null) ? '0' : number.unsubscribed }} {{ 'web.web.contact.index.mailing_list.inactive_contacts' | trans }}</span></td>
            <td>
                <form action="" method="post" enctype="{{ form_enctype(form) }}">
                    <div class="RBZ_input">
                        {{ form_widget(form.name) }}
                    </div>
                </form>
            </td>
        </tr>
    </table>

    <table id="table_RBZ_mailing_list" class="RBZ_table">
        <tr>
            <th>{{ 'web.web.contact.index.mailing_list.subscription' | trans }}</th>
            <th class="RBZ_email">{{ 'web.web.contact.index.mailing_list.email' | trans }}</th>
            <th class="RBZ_reduce">{{ 'web.web.contact.index.mailing_list.lastname' | trans }}</th>
            <th class="RBZ_reduce">{{ 'web.web.contact.index.mailing_list.firstname' | trans }}</th>
            <th class="RBZ_commissions">{{ 'web.web.contact.index.mailing_list.commissions' | trans | raw }}</th>
            <th class="RBZ_reduce2">{{ 'web.web.contact.index.mailing_list.status' | trans }}</th>
        </tr>
        {% for contact in contacts %}
            {% if contact.0.subscriber %}
                {% set status_class = 'RBZ_blue' %}
            {% else %}
                {% set status_class = 'RBZ_red' %}
            {% endif %}
            <tr>
                <td>{{ contact.0.datecreate | localizeddate('short', 'none') }}</td>
                <td>
                    {{ contact.0.email }}
                    <div class="RBZ_pin_container RBZ_phone">
                    {% if contact.0.subscriber %}
                        <div class="{{ status_class }}" id="div_RBZ_pin2_{{ contact.0.id }}">{{ 'web.web.contact.index.mailing_list.subscribed' | trans }}</div>
                    {% else %}
                        <div class="{{ status_class }}" id="div_RBZ_pin2_{{ contact.0.id }}">{{ 'web.web.contact.index.mailing_list.unsubscribed' | trans }}</div>
                    {% endif %}
                        <div id="div_RBZ_menu2_{{ contact.0.id }}" class="RBZ_pin_menu">
                            <ul>
                                <li class="{{ status_class }}">
                                {% if contact.0.subscriber %}
                                    <a href="{{ url('WebWebBundle_contactUnsubscribe', { 'piContactId': contact.0.id, 'page': page }) }}">{{ 'web.web.contact.index.mailing_list.unsubscribe' | trans }}</a>
                                {% else %}
                                    <a href="{{ url('WebWebBundle_contactSubscribe', { 'piContactId': contact.0.id, 'page': page }) }}">{{ 'web.web.contact.index.mailing_list.subscribe' | trans }}</a>
                                {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="RBZ_reduce">{{ contact.0.lastname }}</td>
                <td class="RBZ_reduce">{{ contact.0.firstname }}</td>
                <td class="RBZ_right">{{ currency_format(contact.commissions, app.user.country) }}</td>
                <td class="RBZ_reduce2 RBZ_status {{ status_class }}">
                    <div class="RBZ_pin_container">
                    {% if contact.0.subscriber %}
                        <span id="span_RBZ_pin_{{ contact.0.id }}">{{ 'web.web.contact.index.mailing_list.subscribed' | trans }}</span>
                    {% else %}
                        <span id="span_RBZ_pin_{{ contact.0.id }}">{{ 'web.web.contact.index.mailing_list.unsubscribed' | trans }}</span>
                    {% endif %}
                        <div id="div_RBZ_pin_{{ contact.0.id }}" class="RBZ_pin {{ status_class }}"></div>
                        <div id="div_RBZ_menu_{{ contact.0.id }}" class="RBZ_pin_menu">
                            <ul>
                                <li class="{{ status_class }}">
                                {% if contact.0.subscriber %}
                                    <a href="{{ url('WebWebBundle_contactUnsubscribe', { 'piContactId': contact.0.id, 'page': page }) }}">{{ 'web.web.contact.index.mailing_list.unsubscribe' | trans }}</a>
                                {% else %}
                                    <a href="{{ url('WebWebBundle_contactSubscribe', { 'piContactId': contact.0.id, 'page': page }) }}">{{ 'web.web.contact.index.mailing_list.subscribe' | trans }}</a>
                                {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

    {{ macro.pagination(contacts) }}

{% endblock %}
