{# ==== Popup Welcome ==== #}
<div id="div_RBZ_welcomePopup">
    <div id="div_RBZ_welcomePopupInside">
        <img id="img_RBZ_welcomePopupArrow" src="{{ asset('/bundles/webweb/images/global/icons/arrowLeft.png') }}">
        <div id="div_RBZ_welcomePopupTitle">
            {{ app.user.firstname | upper }}, {{ 'web.web.contact.add.popupWelcome.title' | trans }} &nbsp;
            <img src="{{ asset('/bundles/webweb/images/global/whiteLogo.png') }}">
            <img id="img_RBZ_welcomePopupClose" src="{{ asset('/bundles/webweb/images/global/icons/exit.jpg') }}">
        </div>
        <div id="div_RBZ_welcomePopupText">
            {{ 'web.web.contact.add.popupWelcome.text' | trans  | raw }}
        </div>
        <div id="div_RBZ_welcomePopupFooter">
            <a href="{{ url('WebWebBundle_defaultHowItWorks') }}">{{ 'web.web.layoutPageOut.hiw' | trans }}</a>
        </div>
    </div>
</div>
